@font-face {
  font-family: "KGFQFont";
  src: url("../../../../public/fonts/KFGQPC_Uthman_Taha_Naskh_Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.arabicAyah {
  font-family: KGFQFont;
}
